readable/text-gigantic.txt
readable/text.txt
writable/text.txt
readable/text-gigantic-copy.txt
readable/text-small.txt
readable/text-small-copy.txt
custom-streams/text.txt
custom-streams/text-w.txt
custom-streams/file1.txt
custom-streams/file2.txt
custom-streams/file3.txt
custom-streams/output1.txt
custom-streams/output2.txt
custom-streams/output3.txt
